<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка фотографий</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<div id="image-preview">
    <div id="drop-text">Нажмите, чтобы загрузить фотографию или перетащите ее сюда</div>
    <input type="file" id="file-input">
</div>
<button id="submit-button" disabled>Отправить на проверку</button>
<div id="result-container"></div>
<script src="/static/scripts.js"></script>
</body>
</html>
